@model AlDS.Coursework.Board.BoardModel.Card

@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.BoardModel
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@if (SignInManager.IsSignedIn(User))
{
    <h4>Card</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="CreatorId" value = @User.Identity.Name>
                        <input type="hidden" name ="BoardId" value = @ViewData["Message"]>
                        Title @Html.EditorFor(model => model.Title)
                        Desc @Html.EditorFor(model => model.Description)
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="../" asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}


