* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    overflow-x: auto;
    overflow-y: auto;
}

body.main_page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F2EEE2;
    overflow: auto;
}

header.main_header {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    color: #4b5e76;
}

div.logo {
    position: relative;
    top: 13%;
}

span.logo_size {
    font-size: 64px;
}

.heared_main_block {
    position: relative;
    top: 15%;
    display: inline;
}

.header_nice_block {
    box-sizing: border-box;
    position: relative;
    width: 50%;
    height: 35%;
    background: #D9D9D9;
    mix-blend-mode: darken;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 189px;
    left: 25%;
}

.p_header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
    padding: 0;
    margin: 0;
}

.p_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 77px;
    color: #000000;
}

.main_header_link_bloc {
    position: relative;
    top: -1%;
    display: inline-block;
    text-align: center;
    margin: auto;
    color: #FFFFFF;
}

.main_header_link_bloc_text {
    border: 3px solid #ffffff;
    padding: 5px 15px;
    margin: -0.55%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    display: inline-block;
}

.account_block {
    position: fixed;
    top: 1%;
    right: 1%;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.account_block_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #000000;
    border: 1px solid #ffffff;
    padding: 5px 15px;
    display: inline-block;
    margin: -1%;
}

.button {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    color: #000000;
}

.overlay {
    width: 65%;
    height: 85%;
    position: fixed;

    top: 7%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    transition: opacity 500ms;
    visibility: hidden;

    background-color: #F2EEE2;
    border-radius: 50px;

}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }


    .overlay .close {
        position: absolute;
        top: 0.3%;
        right: 3%;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        background: none;
    }

        .overlay .close:hover {
            color: #e9b0b0;
            background: none;
        }

.popup {
    position: relative;
    top: 10%;
    left: 0;
    background: none;
    border-radius: 5px;
    width: 100%;
    height: auto;
    transition: all 5s ease-in-out;
}


.content {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content_try {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
}

.content_contact {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #CBD3E2;
}

.photo_img {
    width: 45%;
    height: auto;
    position: relative;
    top: 10%;
    left: 50%;
    border-radius: 10px;
}
.photo_try_img {
    width: 45%;
    height: 100%;
    position: relative;
    top: 10%;
    left: 5%;
    border-radius: 10px;
}
.photo_contact_img {
    width: 50%;
    height: 50%;
    position: fixed;
    bottom: 15%;
    left: 25%;
    border-radius: 10px;
}

.popup_info_text {
    background-color: #C0DCDA;
    position: absolute;
    top: 0%;
    left: 8%;
    width: 90%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}
.popup_try_text {
    background-color: #C0DCDA;
    position: absolute;
    top: 0%;
    left: 4%;
    width: 90%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.popup_contact_text {
    background-color: #C0DCDA;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: auto;
    text-align: center;
    border-radius: 5px;
}

.popup_paragraph_contact {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    color: #000000;
    margin: 0px;
    padding: 0px;
    display: inline;
}

.popup_paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.h2_popup {
    position: relative;
    top: 8%;
    left: 0%;
    background-color: #C0DCDA;
    width: 100%;
    height: 7%;
    text-align: center;
    vertical-align: central;
}


.main_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.main_footer_text {
    font-size: 15px;
    font-family: 'Playfair Display';
    font-style: normal;
    text-align: center;
    color: #221a3a;
}


.nav_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    color: #d5c8c8;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

    nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #d5c8c8;
        position: relative;
    }

        nav ul li a::after {
            content: "";
            width: 0;
            height: 2px;
            position: absolute;
            right: 0%;
            bottom: -5px;
            background: #e9b0b0;
            transition: 0.7s;
            color: #cdb6b6;
        }

        nav ul li a:hover::after {
            width: 100%;
            color: #cdb6b6;
        }

.button_main {
    background-color: none;
    background: none;
    border: 0;
    text-decoration: none;
    font-size: 20px;
    color: #d5c8c8;
}

.ef {
    text-decoration: none;
    font-size: 20px;
    color: #d5c8c8;
    position: relative;
}

.ef::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    right: 0%;
    bottom: -5px;
    background: #e9b0b0;
    transition: 0.7s;
    color: #cdb6b6;
}

.ef:hover::after {
    width: 100%;
    color: #cdb6b6;
}


.person_main_page {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url("/img/backindex.jpg");
    background-size: 100% 100%;
}



.person_header_main_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    background: rgba(231, 234, 240, 0.47);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
.person_header_links {
    position: absolute;
    top: -8%;
    right: 0%;
    width: 20%;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #d5c8c8;
}
.person_header_link {
    box-sizing: border-box;
    width: auto;
    margin: 2%;
    display: inline-block;
    text-decoration: none;
}
.person_logo_size {
    width: 100%;
    font-size: 48px;
    position: fixed;
    top: -1.75%;
    left: 0;
}


.person_board_block {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 15%;
    left: 5%;
    background: rgba(217, 217, 217, 0.45);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow-y: auto;

    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none;
    
}
    .person_board_block::-webkit-scrollbar {
        display: none;
    }

.block_board {
    display: inline-block;
    margin: 1.5% 1%;
    padding: 1%;
    width: 31%;
    height: auto;
    position: relative;
    top: 3%;
    background: #B1DEDB;
    mix-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 81px;
    text-align: center;
}


.board_index {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
    color: #4b5e76;
}

.table_board {
    width: 100%;
    height: auto;
}
.td_board {
    display: block;
    border-radius: 30px;
}
.a_board {
    display: block;
    text-decoration: none;
}
.p_board {
    font-family: 'Inter';
    font-style: normal;
    font-size: 22px;
    color: #000000;
}
.board {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    color: #000000;
    overflow-x: auto;
    background-color: none;
}

.board_information {
    font-family: 'Inter';
    font-style: normal;
    font-size: 28px;
    color: #000000;
}
/* Table*/
.board_setting {
    float: left;
    overflow-y: hidden;
    overflow-x: auto;
    text-align: left;
    width: auto;
    height: auto;
}

tbody.board_details {
    display: flex;
    overflow-y: auto;
}
.board_details {
    width: auto;
    height: auto;
    display: table-cell;
}
.table_details {
    display: block;
    float: left;
    margin: 3% 1%;
    padding: 1%;
    width: 300px;
    height: auto;
    background: rgba(217, 217, 217, 0.28);
    text-align: center;
    overflow-y: auto;
}
.td_details {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.5);
}
.td_board_name {
    display: block ruby;
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    background-color: rgba(244, 244, 244, 0.95);
    border-radius: 10px;
    margin: 3px;
    padding: 5px;
}
.placeholderCard {
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: auto;
}

#add {
    text-align: left;
    color: #0000cc;
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
}

    #add:target {
        display: block;
    }

.close {
    display: inline-block;
    color: #0000cc;
    text-decoration: none;
    background: #f2f2f2;
    cursor: pointer;
}

    .close:hover {
        background: #e6e6ff;
    }

{
    box-sizing: border-box;
}


.dropbtn {
    background-color: rgba(0,0,0,0);
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: none;
    }

.dropdown {
    display: inline-block;
}

.dropdown-content {
    position: relative;
    top: 0%;
    background-color: none;
    min-width: 160px;
    box-shadow: none;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: none;
    }

.dropdown a:hover {
    background-color: none;
}

.show {
    display: block;
    background-color: none;
}


.note {
    background-color: none;
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 28px;
    color: #000000;
}

.note_title{
    position: relative;
    top: 5%;
    left: auto;
    width: 100%;
    height: auto;
    text-align: center;
}

.note_text {
    background: rgba(255, 255, 255, 0.50);
    border-radius: 60px;
    width: 70%;
    height: auto;
    min-height: 50%;
    max-height: 70%;
    text-align: center;
    position: fixed;
    top: 15%;
    left: 15%;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none;
}
    .note_text::-webkit-scrollbar {
        display: none;
    }
