<!DOCTYPE html>
<html lang="ru">
	<head>
		@await Html.PartialAsync("MetatagsPartial")
		@await Html.PartialAsync("CssPartial")
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body class="basis">
		<header class ="main_basis">
			<p class="main_title">Daisy</p>
			<div class="icon_login_reg">
				<p class="text_login_reg">Вход</p>
				<p class="text_login_reg">Регистрация</p>
			</div>

		</header>


		 @RenderBody()
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
	</body>

</html>
