<!DOCTYPE html>
<html lang="ru">
	<head>
		@await Html.PartialAsync("MetatagsPartial")
		@await Html.PartialAsync("CssPartial")
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body>

	@RenderBody()
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

	<footer class="main_footer">
		<p class="main_footer_text">Курсовая работа по дисциплине "Алгоритмы и структуры данных". Никифорова Дарья, 6312, 2022г.</p>
	</footer>
	</body>

</html>
