@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@using AlDS.Coursework.Board.BoardModel
@using AlDS.Coursework.Board.RelatedTablesModel
@using AlDS.Coursework.WebApplicationTest.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model List<AlDS.Coursework.Board.BoardModel.Board>

@{
    Layout = "../../Pages/Shared/_Layout.cshtml";
}


<div class="person_main_page">

    <header class="person_header_main_menu">

    </header>

    <div class="person_board_block">
        <table class="table_board">
            @foreach (var item in Model)
            {
                <tr class="block_board">
                    <td class="td_board">
                        <a href="../board/Index/@item.BoardId" class="a_board">
                            <div>
                             <p class="p_board">@item.Title</p>
                             <p class="p_board">@item.Description</p>
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </table>
        <div class="block_board">
            <a href="../board/Create" class="a_board">
                <div>
                 <p class="p_board">Add Board</p>
                </div>
            </a>
        </div>

    </div>


</div>

