@page
@model IndexModel
@using AlDS.Coursework.Board.UserModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<body class="main_page">

    <header class="main_header">

        <div class="logo">
            <span class="logo_size"><i class="bi bi-tablet-landscape"></i></span>
        </div>

        <div class="heared_main_block">

            <div class="account_block">
            <nav class="nav_main">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul>
                        <li><a href="Person/Index?email=@User.Identity.Name">Профиль</a></li>
                        <li>
                            <div class=ef>
                            <form class="form_asp" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                            <button class="button_main" type="submit">Выйти из аккаунта</button>
                            </form>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                 <ul>
                    <li><a asp-area="Identity" asp-page="/Account/Login">Войти</a></li>
                    <li><a asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a></li>
                </ul>
                }
                </nav>

            </div>
            <div class="header_nice_block">
                <p class="p_header">Daisy</p>
                <p class="p_text">Поставьте, пожалуйста, 4. Я правда старалась</p>

                <div class="main_header_link_bloc">
                    <div class="box">
                        <p class="main_header_link_bloc_text"><a class="button" href="#info">Узнать больше</a></p>
                        <p class="main_header_link_bloc_text"><a class="button" href="#try">Попробовать</a></p>
                        <p class="main_header_link_bloc_text"><a class="button" href="#contacts">Контакты</a></p>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <div id="info" class="overlay">
          <a class="close" href="..">&times;</a>
         <h2 class="h2_popup">Узнай больше</h2>

        <div class="popup">
            <img class="photo_img" src="/img/233600.jpg" />

            <div class="content">
                <div class="popup_info_text">
                    <p class="popup_paragraph">Узнай больше об этом сайте!</p>
                    <p class="popup_paragraph">По-хорошему, мне бы надо заполнить это пространство мотивирующим текстом</p>
                    <p class="popup_paragraph">Ну, текст, который будет мотивировать использовать это подобие Trello</p>
                    <p class="popup_paragraph">Но... Мне лень приудмывать что-то</p>
                    <p class="popup_paragraph">Поэтому временно будет так.</p>
                    <p class="popup_paragraph">Надеюсь, что не забуду это убрать, когда понесу показывать свою работу</p>
                    <p class="popup_paragraph">Поэтому, если Вы вдруг это читаете - извините (:</p>
                </div>

            </div>
        </div>
    </div>

    <div id="try" class="overlay">
         <a class="close" href="..">&times;</a>
         <h2 class="h2_popup">Хотите попробовать?</h2>
        <div class="popup">
            <img class="photo_try_img" src="/img/try.jpg"/>

            <div class="content_try">
                <div class="popup_try_text">
                    <p class="popup_paragraph">Тогда вам сюда</p>
                    <a class="popup_paragraph" asp-area="Identity" asp-page="/Account/Login">Уже есть аккаунт? Тогда войди в него прямо сейчас</a>
                    <a class="popup_paragraph" asp-area="Identity" asp-page="/Account/Register">Тыкни сюда и зарегистрируй свой аккаунт!</a>
                    <p class="popup_paragraph">Не хотите?<br />Значит вернитесь на первый пункт</p>
                </div>
            </div>
        </div>
    </div>



    <div id="contacts" class="overlay">
         <h2 class="h2_popup">Захотел с нами (мной, я хорошая) связаться?</h2>
        <a class="close" href="..">&times;</a>

        <div class="popup">
            <img class="photo_contact_img" src="/img/cont.jpg" />

            <div class="content_contact">
                <div class="popup_contact_text">
                    <p class="popup_paragraph_contact">Email: n_daisy1@mail.ru</p>
                    <p class="popup_paragraph_contact">github: https://github.com/4u-daisy</p>
                    <p class="popup_paragraph_contact">tg: daisy_4u</p>
                </div>
            </div>
        </div>
    </div>


</body>



